.number {
  background: var(--br-50-color);
  border: 1px solid var(--br-900-color);
  border-radius: 50px;
  cursor: default;
  display: grid;
  justify-items: center;
  align-items: center;
  color: var(--br-900-color);
  user-select: none;
}
.number.selected {
  background: var(--br-700-color);
  color: var(--br-50-color);
}
.number.used {
  background: var(--br-300-color);
  color: var(--br-900-color);
}
